In [18]:
import pandas as pd
import os

from utils.general import get_data_path
from utils.constants import SEASON, LAST_PLAYED_GAMEWEEK
from utils.get_ids import get_player_team

In [3]:
for file in os.listdir(get_data_path(SEASON, "")):
    if file.endswith(".csv"):
        df = pd.read_csv(get_data_path(SEASON, file))
        print(file)
        display(df.head())

fixtures.csv

,gw,home_team_id,away_team_id,home_team_score,away_team_score,stats
0,1,14,9,1.0,0.0,"[{'identifier': 'goals_scored', 'a': [], 'h': ..."
1,1,10,12,0.0,2.0,"[{'identifier': 'goals_scored', 'a': [{'value'..."
2,1,1,20,2.0,0.0,"[{'identifier': 'goals_scored', 'a': [], 'h': ..."
3,1,8,5,0.0,3.0,"[{'identifier': 'goals_scored', 'a': [{'value'..."
4,1,15,17,1.0,0.0,"[{'identifier': 'goals_scored', 'a': [], 'h': ..."

home_away_team_season_data.csv

,team,team_id,home_wins,home_draws,home_losses,home_goals_scored,home_goals_conceded,home_goal_difference,home_pts,home_pts/mp,...,away_losses,away_goals_scored,away_goals_conceded,away_goal_difference,away_pts,away_pts/mp,away_xG,away_xGA,away_xGD,away_xGD/90
0,Arsenal,1,10,6,2,34,17,17,36,2.00,...,2,30,14,16,31,1.82,25.2,17.2,8.1,0.47
1,Man City,13,12,3,3,40,22,18,39,2.17,...,6,27,21,6,25,1.47,26.0,23.8,2.2,0.13
2,Newcastle,15,11,2,4,38,19,19,35,2.06,...,6,27,25,2,27,1.59,27.6,21.7,5.9,0.35
3,Chelsea,6,10,5,2,31,17,14,35,2.06,...,6,28,23,5,25,1.47,28.9,25.6,3.3,0.19
4,Nott'm Forest,16,9,4,4,24,13,11,31,1.82,...,6,29,28,1,29,1.71,20.0,25.7,-5.7,-0.33

players_ids.csv

,id,first_name,second_name,web_name,team,full_name
0,1,fabio,ferreira vieira,fabio vieira,1,fabio ferreira vieira
1,2,gabriel,fernando de jesus,gjesus,1,gabriel fernando de jesus
2,3,gabriel,dos santos magalhaes,gabriel,1,gabriel dos santos magalhaes
3,4,kai,havertz,havertz,1,kai havertz
4,5,karl,hein,hein,1,karl hein

players_season_data.csv

,player_id,web_name,team_id,element_type,points_per_game,total_points,minutes,starts,goals_scored,assists,...,goals_conceded_per_90,xG,xA,xGC,xGI,xG_per90,xA_per90,xGC_per90,xGI_per90,baseline_bps
0,1,fabio vieira,1,3,0.0,0,0,0,0,0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0
1,2,gjesus,1,4,2.5,42,600,6,3,2,...,0.75,3.05,0.52,5.82,3.57,0.46,0.08,0.87,0.54,74
2,3,gabriel,1,2,4.2,117,2363,28,3,2,...,0.84,2.70,1.21,23.09,3.91,0.10,0.05,0.88,0.15,385
3,4,havertz,1,4,4.6,96,1839,21,9,3,...,0.98,9.39,1.63,19.00,11.02,0.46,0.08,0.93,0.54,109
4,5,hein,1,1,0.0,0,0,0,0,0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0

teams_ids.csv

   id         name short_name
0   1      Arsenal        ARS
1   2  Aston Villa        AVL
2   3  Bournemouth        BOU
3   4    Brentford        BRE
4   5     Brighton        BHA

team_gw_data.csv

,Team,vs Team,Home?,Gameweek,Shots,SoT,SiB,xG,npxG,G,...,CS,xGI,npxGI,xP,P,P vs xP,T,TPA,C 1/3,C PA
0,Arsenal,Wolverhampton Wanderers,True,1,18,6,12,1.2,1.2,2,...,1,2.3,2.3,52.5,70,17.5,567,43,9,11
1,Aston Villa,West Ham,False,1,15,3,10,2.0,2.0,2,...,0,3.4,3.4,38.0,47,9.0,558,21,12,4
2,Brentford,Crystal Palace,True,1,9,5,8,1.5,1.5,2,...,0,2.0,2.0,48.7,47,âˆ’1.7,531,11,12,3
3,Wolverhampton Wanderers,Arsenal,False,1,9,3,6,0.5,0.5,0,...,0,0.7,0.7,31.8,20,âˆ’11.8,492,16,9,4
4,Brighton,Everton,False,1,10,5,9,1.5,1.5,3,...,1,3.1,3.1,56.3,74,17.7,704,27,13,11

team_ratings.csv

,home_attack_rating,away_attack_rating,home_defense_rating,away_defense_rating
0,0.841815,0.436622,1.000000,0.845056
1,0.703760,0.251083,0.560088,0.354818
2,0.729843,0.678486,0.785834,0.355868
3,0.562096,0.238387,0.377873,0.353680
4,0.535511,0.458205,0.681261,0.461838

In [4]:
df = pd.read_csv(get_data_path(SEASON, "fbref/gws_passing/gw1.csv")).sort_values(by="player_id")
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 307 entries, 160 to 154
Data columns (total 33 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   player_id                          305 non-null    float64
 1   team_id                            307 non-null    int64
 2   opponent_team_id                   307 non-null    int64
 3   was_home                           307 non-null    bool
 4   player_name                        307 non-null    object
 5   player_number                      307 non-null    int64
 6   nation                             307 non-null    object
 7   pos                                307 non-null    object
 8   age                                307 non-null    object
 9   minutes                            307 non-null    int64
 10  total_completed_passes             307 non-null    int64
 11  total_attempted_passes             307 non-null    int64
 12  total_pass_completion_percentage   306 non-null    float64
 13  total_passing_distance             307 non-null    int64
 14  progressive_passing_distance       307 non-null    int64
 15  short_completed_passes             307 non-null    int64
 16  short_attempted_passes             307 non-null    int64
 17  short_pass_completion_percentage   299 non-null    float64
 18  medium_completed_passes            307 non-null    int64
 19  medium_attempted_passes            307 non-null    int64
 20  medium_pass_completion_percentage  293 non-null    float64
 21  long_completed_passes              307 non-null    int64
 22  long_attempted_passes              307 non-null    int64
 23  long_pass_completion_percentage    244 non-null    float64
 24  assists                            307 non-null    int64
 25  xAG                                307 non-null    float64
 26  xA                                 307 non-null    float64
 27  key_passes                         307 non-null    int64
 28  passes_into_final_third            307 non-null    int64
 29  passes_into_penalty_area           307 non-null    int64
 30  crosses_into_penalty_area          307 non-null    int64
 31  progressive_passes                 307 non-null    int64
 32  gw                                 307 non-null    int64
dtypes: bool(1), float64(7), int64(21), object(4)
memory usage: 79.4+ KB

In [5]:
df = pd.read_csv(get_data_path(SEASON, 'gws', 'gw1.csv'))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616 entries, 0 to 615
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   player_id          616 non-null    int64
 1   minutes            616 non-null    int64
 2   in_starting_xi     616 non-null    int64
 3   was_home           616 non-null    bool
 4   goals_scored       616 non-null    int64
 5   assists            616 non-null    int64
 6   goals_conceded     616 non-null    int64
 7   clean_sheets       616 non-null    int64
 8   xG                 616 non-null    float64
 9   xA                 616 non-null    float64
 10  xGC                616 non-null    float64
 11  xGI                616 non-null    float64
 12  total_points       616 non-null    int64
 13  gameweek           616 non-null    int64
 14  oppeonent_team_id  616 non-null    int64
 15  fixture            616 non-null    int64
 16  value              616 non-null    int64
dtypes: bool(1), float64(4), int64(12)
memory usage: 77.7 KB

In [6]:
df = pd.read_csv(get_data_path(SEASON, 'fixtures.csv'))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   gw               380 non-null    int64
 1   home_team_id     380 non-null    int64
 2   away_team_id     380 non-null    int64
 3   home_team_score  350 non-null    float64
 4   away_team_score  350 non-null    float64
 5   stats            380 non-null    object
dtypes: float64(2), int64(3), object(1)
memory usage: 17.9+ KB

In [7]:
# Check for duplicxates in gw files
for file in os.listdir(get_data_path(SEASON, "gws")):
    if file.endswith(".csv"):
        df = pd.read_csv(get_data_path(SEASON, "gws", file))
        print(file, df.duplicated(subset=["player_id"]).sum())

# duplicates mean dgws

gw1.csv 0
gw10.csv 0
gw11.csv 0
gw12.csv 0
gw13.csv 0
gw14.csv 0
gw15.csv 0
gw16.csv 0
gw17.csv 0
gw18.csv 0
gw19.csv 0
gw2.csv 0
gw20.csv 0
gw21.csv 0
gw22.csv 0
gw23.csv 0
gw24.csv 69
gw25.csv 79
gw26.csv 0
gw27.csv 0
gw28.csv 0
gw29.csv 0
gw3.csv 0
gw30.csv 0
gw31.csv 0
gw32.csv 71
gw33.csv 155
gw34.csv 0
gw35.csv 0
gw36.csv 0
gw4.csv 0
gw5.csv 0
gw6.csv 0
gw7.csv 0
gw8.csv 0
gw9.csv 0

In [8]:
merged_stat_df = None

for file in os.listdir('stat_data'):
    if file.endswith(".csv"):
        stat_df = pd.read_csv(os.path.join('stat_data', file))
        if 'web_name' in stat_df.columns:
            stat_df.drop(columns=['web_name'], inplace=True)

        if merged_stat_df is None:
            merged_stat_df = stat_df

        if stat_df.duplicated(subset=['player_id', 'gw']).any():
            print(f"Duplicate entries found in {file}.")
            continue

        merged_stat_df = pd.merge(merged_stat_df, stat_df, on=['player_id', 'gw'], how='outer')

merged_stat_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27090 entries, 0 to 27089
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   gw         27090 non-null  int64
 1   cc_x       23966 non-null  float64
 2   player_id  27090 non-null  int64
 3   cc_y       23966 non-null  float64
 4   npg        24023 non-null  float64
 5   npxG       24033 non-null  float64
 6   npxgi      23990 non-null  float64
 7   shots      23957 non-null  float64
 8   SiB        24047 non-null  float64
 9   SoT        24040 non-null  float64
 10  tpa        23968 non-null  float64
dtypes: float64(9), int64(2)
memory usage: 2.3 MB

## Joining into one dataframe to input to the model

In [9]:
gw_df_list = []

for gw_num in range(1, LAST_PLAYED_GAMEWEEK + 1):
    gw_file_path = get_data_path(SEASON, "gws", f"gw{gw_num}.csv")
    gw_df = pd.read_csv(gw_file_path)
    gw_df.rename(columns={"gameweek": "gw"}, inplace=True)

    gw_stat_df = merged_stat_df[merged_stat_df.gw == gw_num]
    if gw_stat_df.duplicated(subset=['player_id', 'gw']).any():
        print(f"Warning: Duplicates found for (player_id, gw) in {gw_file_path}")
        continue

    gw_df = pd.merge(gw_df, gw_stat_df, on=["player_id", "gw"], how="left")
    gw_df_list.append(gw_df)

merged_gw_df = pd.concat(gw_df_list, ignore_index=True)
if merged_gw_df.duplicated(subset=['player_id', 'gw']).any():
    print("Warning: Duplicates found in the merged gameweek DataFrame.")
    print(merged_gw_df.duplicated(subset=['player_id', 'gw']).sum())

Warning: Duplicates found in the merged gameweek DataFrame.
374

In [10]:
# Add passing data into the merged gameweek DataFrame
# first merge the passing data to one df
passing_df = None
for file in os.listdir(get_data_path(SEASON, "fbref", "gws_passing")):
    if file.endswith(".csv"):
        gw_num = int(file.split(".")[0][2:])
        gw_passing_df = pd.read_csv(get_data_path(SEASON, "fbref", "gws_passing", file))
        gw_passing_df = gw_passing_df[['player_id', 'gw', 'key_passes',
                                       'total_pass_completion_percentage',]]

        if passing_df is None:
            passing_df = gw_passing_df
        else:
            passing_df = pd.concat([passing_df, gw_passing_df], ignore_index=True)

passing_df.fillna(0, inplace=True)
passing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10645 entries, 0 to 10644
Data columns (total 4 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   player_id                         10645 non-null  float64
 1   gw                                10645 non-null  int64
 2   key_passes                        10645 non-null  int64
 3   total_pass_completion_percentage  10645 non-null  float64
dtypes: float64(2), int64(2)
memory usage: 332.8 KB

In [11]:
merged_gw_df = pd.merge(merged_gw_df, passing_df, on=["player_id", "gw"], how="left")
if merged_gw_df.duplicated(subset=['player_id', 'gw']).any():
    print("Warning: Duplicates found in the merged gameweek DataFrame after passing merge.")
    print(merged_gw_df.duplicated(subset=['player_id', 'gw']).sum())

Warning: Duplicates found in the merged gameweek DataFrame after passing merge.
641

In [12]:
merged_gw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25466 entries, 0 to 25465
Data columns (total 28 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   player_id                         25466 non-null  int64
 1   minutes                           25466 non-null  int64
 2   in_starting_xi                    25466 non-null  int64
 3   was_home                          25466 non-null  bool
 4   goals_scored                      25466 non-null  int64
 5   assists                           25466 non-null  int64
 6   goals_conceded                    25466 non-null  int64
 7   clean_sheets                      25466 non-null  int64
 8   xG                                25466 non-null  float64
 9   xA                                25466 non-null  float64
 10  xGC                               25466 non-null  float64
 11  xGI                               25466 non-null  float64
 12  total_points                      25466 non-null  int64
 13  gw                                25466 non-null  int64
 14  oppeonent_team_id                 25466 non-null  int64
 15  fixture                           25466 non-null  int64
 16  value                             25466 non-null  int64
 17  cc_x                              24576 non-null  float64
 18  cc_y                              24576 non-null  float64
 19  npg                               24598 non-null  float64
 20  npxG                              24609 non-null  float64
 21  npxgi                             24598 non-null  float64
 22  shots                             24565 non-null  float64
 23  SiB                               24604 non-null  float64
 24  SoT                               24597 non-null  float64
 25  tpa                               24576 non-null  float64
 26  key_passes                        10886 non-null  float64
 27  total_pass_completion_percentage  10886 non-null  float64
dtypes: bool(1), float64(15), int64(12)
memory usage: 5.3 MB

In [19]:
# Add team ratings
merged_gw_df['team_id'] = merged_gw_df['player_id'].apply(get_player_team, args=(SEASON, ))

In [ ]:
team_ratings_df = pd.read_csv(get_data_path(SEASON, "team_ratings.csv"))

merged_gw_df['team_attack_rating'] =

,home_attack_rating,away_attack_rating,home_defense_rating,away_defense_rating
0,0.841815,0.436622,1.000000,0.845056
1,0.703760,0.251083,0.560088,0.354818
2,0.729843,0.678486,0.785834,0.355868
3,0.562096,0.238387,0.377873,0.353680
4,0.535511,0.458205,0.681261,0.461838
5,1.000000,0.605838,0.775932,0.868449
6,0.497911,0.438254,0.554788,0.529567
7,0.243259,0.107259,0.595362,0.606048
8,0.494594,0.543508,0.626184,0.453554
9,0.118999,0.000000,0.000000,0.000000
10,0.000000,0.028545,0.169706,0.092912
11,0.957050,1.000000,0.594061,1.000000
12,0.876567,0.643018,0.697344,0.906427
13,0.477905,0.469853,0.672563,0.719008
14,0.737282,0.402535,0.618250,0.676694
15,0.352036,0.363138,0.285793,0.311240
16,0.038370,0.098493,0.072927,0.075537
17,0.736277,0.462487,0.406804,0.537355
18,0.206229,0.469087,0.365811,0.701604
19,0.209077,0.301302,0.794735,0.633554

## Make a df with columns for season data and last x gameweeks data

In [ ]:
last_df = merged_gw_df.copy()

season_df = pd.read_csv(get_data_path(SEASON, "players_season_data.csv"))